* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./images/keyboard.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1.5;
}

.background {
  z-index: -1;
}

#navbar {
  background: linear-gradient(blue, lightblue);
  border-color: rgba(0, 22, 22, .4);
  border-right: solid;
  height: 100%;
  left: 0;
  min-width: 20%;
  opacity: 80%;
  overflow-y: scroll;
  position: fixed;
  text-align: center;
  top: 0;
  width: 25%;
}

.nav-header {
  color: #f7f7f7;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.2em;
  font-weight: 950;
  margin: 10% 0;
  text-align: center;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
}

#navbar li {
  border-top: 1px solid;
  color: #f7f7f7;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  color:#f7f7f7;
  cursor: pointer;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  margin: 5% 0;
  padding: 3% 3%;
  text-decoration: none;
}

#navbar a:hover {
  color: blue;
}

#main-doc {
  margin-left: 30%;
  margin-top: 5%;
  position: absolute;
  text-align: left;
}

.main-section {
  scroll-margin-top: 3em;
}

header { 
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  text-align: left;
  text-decoration: underline;
}

section article {
  font-size: 1.2em;
  font-weight: bold;
  margin: 3%;
}

section li {
  color: rgb(52, 52, 134);
  font-size: 1.2em;
  margin: 5% 0 0 5%;
}

code {
  background-color: #f7f7f7;
  border-radius: 10px;
  display: block;
  line-height: 2;
  margin: 4%;
  padding: 4%;
  position: relative;
  text-align: left;
  white-space: pre-line;
  word-break: normal;
  word-wrap: normal;
}

@media screen and (max-width: 900px) {
  body {
    font-size: .75em;
  }
  #navbar {
    position: fixed;
    min-height: 100%;
  }
  #navbar header {
    font-size: 3em;
    }
  #navbar a {
    font-size: 1.5em;
    margin: 10% 0;
  }
  #prog {
    margin-left: -1%;
 }
}

@media screen and (max-width: 560px) {
  body {
    font-size: .45em;
  }
  #navbar header {
    font-size: 2em;
    }
  #navbar a {
    font-size: 1.4em;
    margin: 15% 0;
  }
  #prog {
    margin-left: -1%;
 }
}

@media screen and (max-width: 400px) {
  body {
    font-size: .35em;
  }
}